*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Source Code Pro', monospace;
}

.main{
    background-color: rgb(14, 146, 240);;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header__img{
    width: 20%;
    height: 20%;
}

img{
    width: 100%;
    height: 100%;
}

.instrucion{
    text-align: center;
    font-style: italic;
    margin-bottom: 4%;
}

.header__count{
    font-size: 3rem;
    color: red;
    font-weight: bolder
}

.container{
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.5rem;
}

.contaier__input{
    margin: 5%;
    font-size: 1.2rem;
    text-align: center;
    background-color: rgb(186, 186, 237);
    box-shadow: black 10px 10px;
}

.container__button {
    font-size: 1.5rem;
    font-weight: bolder;
    
}

.container__button:hover{
    font-size: 1.5rem;
    font-weight: bolder;
    background-color: black;
    color: wheat;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: none;
    color: white;
}

.footer{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    border: solid rgb(0, 0, 0) 2px;
    width: 100%;
}

.paragraph{
    text-align: center;
}

.turn{
    animation-name: turn;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
}

@keyframes turn{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}